[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Frequently used toolsets and setting for vim /git/indent and code sytle/code checking
[access "refs/*"]
	owner = group user/machao (xiaq1)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/machao (xiaq1)
	label-Verified = -1..+1 group user/machao (xiaq1)
	push = group user/machao (xiaq1)
	read = group user/machao (xiaq1)
	rebase = group user/machao (xiaq1)
	removeReviewer = group user/machao (xiaq1)
	submit = group user/machao (xiaq1)
[access "refs/heads/*"]
	create = group user/machao (xiaq1)
	push = +force group user/machao (xiaq1)
	pushMerge = group user/machao (xiaq1)
	read = group user/machao (xiaq1)
[access "refs/tags/*"]
	push = group user/machao (xiaq1)
	push = +force group user/machao (xiaq1)
